# ----------------------------------------
# Application
# ----------------------------------------

PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/yatrasewa

# Development only
PAYMENT_MOCK_ENABLED=true


# ----------------------------------------
# Resend
# ----------------------------------------

RESEND_API_KEY=
RESEND_FROM_EMAIL="YatraSewa <no-reply@yatrasewa.com>"


# ----------------------------------------
# Sparrow SMS
# ----------------------------------------

SPARROW_SMS_BASE_URL=
SPARROW_SMS_SEND_PATH=/api/v1/sms
SPARROW_SMS_TOKEN=
SPARROW_SMS_FROM=


# ----------------------------------------
# Cloudinary
# ----------------------------------------

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# ----------------------------------------
# eSewa
# ----------------------------------------

ESEWA_BASE_URL=
ESEWA_MERCHANT_CODE=
ESEWA_SECRET=


# ----------------------------------------
# Khalti
# ----------------------------------------

KHALTI_BASE_URL=
KHALTI_SECRET_KEY=


# ----------------------------------------
# FonePay
# ----------------------------------------

FONEPAY_BASE_URL=
FONEPAY_MERCHANT_ID=
FONEPAY_SECRET=


# ----------------------------------------
# ConnectIPS
# ----------------------------------------

CONNECT_IPS_BASE_URL=
CONNECT_IPS_CLIENT_ID=
CONNECT_IPS_SECRET=